.center {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.form-login {
  border: 1px solid rgb(192, 186, 186);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 320px;
  justify-content: center;
  padding: 5px;
  width: 420px;
}

.form-buttons {
  display: flex;
  justify-content: space-around;
}

.center img {
  align-self: center;
  margin-bottom: 15px;
  width: 40%;
}

.center div label {
  align-self: center;
  width: 90%;
}

.center div input {
  border-radius: 5px;
  height: 30px;
  margin-bottom: 10px;
  margin-top: 5px;
  width: 98%;
}

.settings {
  align-self: center;
  background-color: green;
  border: none;
  border-radius: 5px;
  height: 40px;
  margin: 5px;
  width: 40%;
}

.settings button {
  margin: 0;
  width: 100%;
}

.settings:hover {
  background-color: rgba(3, 102, 3, 0.801);
  cursor: pointer;
  transition: 1.5;
}
