.form-login {
  align-items: center;
  border-width: 15px;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 60px;
  padding: 10px;
  width: 200px;
}

.image-login {
  margin: 40px;
  width: 150px;
}

.input-email, .input-name {
  margin: 20px;
  padding: 5px;
  width: 200px;
}

.button-play {
  border-radius: 5px;
  font-size: 15px;
  padding: 5px;
  width: 60px;
}

.btn-settings {
  background-color: rgba(128, 128, 128, 0.411);
  border: 1px solid rgba(128, 128, 128, 0.411);
  border-radius: 100px;
  cursor: pointer;
  font-size: 20px;
  height: 40px;
  margin: 30px;
  padding: 10px;
  width: 40px;
}
